body {
background-color: rgb(253, 233, 236);
}

h1 {
  justify-content: center;
  color: red;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header img{
  width: 50%;
  box-shadow: 0 0 10px rgba(237, 134, 134, 0.5);
  border-radius: 5%;
  width: 15%;
}
